body {
  background: peachpuff;
}
body {
  background: papayawhip;
}
/*remove border once completed. border allows visibility of the outline better.*/
* {
  border: 2px solid black;
}

.container {
  padding: 0;
  max-width: 1000px;
  margin: 3rem auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
/*.container2 {
  display: flex;
  width: 90%;
  justify-content: space-between; }*/

.flex-item {
  background: turquoise;
  padding: 5px;
  width: 150px;
  margin: 5px;
  line-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}

.flexA {
  flex-grow: 4;
  width: 100%;
  order: 1;
  display: flex;
  flex-flow: row wrap;
}

.flexB {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 2;
  display: flex;
  flex-flow: row wrap;
}
.flexC {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 3;
  display: flex;
  flex-flow: row wrap;
}
.flexD {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 4;
  display: flex;
  flex-flow: row wrap;
}
.flexE {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 6;
  display: flex;
  flex-flow: row wrap;
}
.flexF {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 7;
  display: flex;
  flex-flow: row wrap;
}
.flexG {
  width: 20%;
  height: 70px;
  flex-grow: 1;
  order: 8;
  display: flex;
  flex-flow: row wrap;
}
.flexH {
  width: 20%;
  height: 140px;
  flex-grow: 2;
  order: 5;
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 768px) {
  .flexA {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }

  .flexB {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  .flexC {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 3;
  }
  .flexD {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 4;
  }
  .flexE {
    width: 75px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    order: 5;
  }
  .flexF {
    width: 75px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    order: 6;
  }
  .flexG {
    width: 75px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    order: 6;
  }
  .flexH {
    width: 375px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    order: 6;
  }
}
