body {
  background: blanchedalmond;
}
* {
  border: 2px solid black;
}
.container {
  padding: 0;
  max-width: 1076px;
  margin: 3rem auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-item {
  background: turquoise;
  padding: 5px;
  width: 350px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flexB,
.flexC {
  flex-grow: 1;
}

.flexA {
  flex-grow: 2;
  width: 100%;
}

.flexB {
  line-height: 300px;
  width: 75%;
}
.flexC {
  width: 20%;
}
