body {
  background: papayawhip;
}
 /*remove border once completed. border allows visibility of the outline better.*/
* {
  border: 2px solid black; /remove once done
}

.container {
  padding: 0;
  max-width: 1000px;
  margin: 3rem auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.flex-item {
  background: turquoise;
  padding: 5px;
  width: 150px;
  margin: 5px;
  line-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}

.flexA {
  flex-grow: 2;
  width: 100%;
  order: 1;
}

.flexB {
  width: 72%;
  height: 70px;
  order: 2;
}
.flexC {
  width: 20%;
  order: 4;

}
.flexD {
  width:20%;
  order: 5;

}
.flexE {
  width: 20%;
  order: 6;

}
.flexF {
  width: 22%;
  height: 250px;
  order: 3;
  flex-direction: column ;
}

@media (max-width: 768px) {
  .flexA {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }

  .flexB {
    width: 375px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  .flexC {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 3;
  }
  .flexD {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 4;
  }
  .flexE {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    order: 5;
  }
  .flexF {
    width: 375px;
    height:70px;
    display: flex;
    flex-wrap: wrap;
    order: 6;
  }
}
